

<html>
    <head>
        <title>Fallout Adventure</title>
    </head>
    <body>
        <h2>Hello Vault Dweller, and welcome to your brand new adventure!</h2>
        <p>You have just escaped vault 101 and are looking for your dad, who left without warning.</p>
        <p>But before you head off on your adventure vault dweller, we need to know your name.</p>
        <form action="" method="post">
            {{form}}
            <input type="submit" value="OK">
        </form>
        
    </body>
</html>
