{% extends 'baseStraight.html' %}
{% block title_text %}Choice: Straight{% endblock %}
{% block header_text %}{% endblock %}
{% block body_text %}<p>You cary on straight from the vault and in the distance..a heaping pile of metal can be seen.</p>
<p>"I wonder if its safe up ahead?" you wonder to your self as you carefuly walk twords what looks like airplane wreckage</p>
<p><b>You start to notice, it looks like a little bit of civilization</b></p>
<p>A community? out here in this irradiated hell hole?</p>
<p>As you approach you are met by an odd robot, seems to be guarding the entry way.</p>
<p>The robot talks in a slow, computer-esc voice. "Welcome.To.Megaton."</p>
<p>"Megaton huh? wonder whats inside." You think to you self.</p>
<p>You head inside and are met by the towns sheriff, a grizzy looking man in a cowboy hat.</p>
<p>"The names Lucas Sims, you must be from the vault..."</p>
<h3>Congradulations! you have completed the fallout interactive adventure!</h3>
<p>Press the button below, to start from the begining</p>
{% endblock %}