{% extends 'baseLeft.html' %}
{% block title_text %}Choice: Left{% endblock %}
{% block header_text %}{% endblock %}
{% block body_text %}<p>You wander down the dusty and broken road, twords a small ruined town in the distance</p>
<p>"I wonder if there is anyone alive out here?" you wonder to your self as you carefuly walk down the road</p>
<p><b>You walk up to an old elementry school along the way</b></p>
<p>A sign outside the school reads "Springvale Elementry School"</p>
<p>You hear a noise. carefuly you peak you head around the corner, only to see what appear to be humans</p>
<p>You hesitate, "Who are these people?"... Then you notice thier weapons. Assault Rifles, pistoles, knives..</p>
<p>Then you realise that these humans are the worst of what remains of humanity..</p>
<p>"To adventure forward would be the death of me" you think to your self</p>
<p>"Lets head back twords the vault"</p>
{% endblock %}